extends base.pug

block append head
    title Post
    meta(property='og:title', content="Post | yswysw's blog")

block append content
    .posttitle
        h1(style='font-size:55pt') #{title.slice(11)}
    .postcontent
        != post
    table.backAndForth
        tr
            td(style='width: 80%')
                table#backAndForth
                    each p in backAndForth
                        tr
                            td#title
                                a(href=`/post/${p.slice(0, -3)}`) #{p.slice(11, -3)}
                            td#date
                                a(href=`/post/${p.slice(0, -3)}`) #{p.slice(0, 10)}
            td(style='width: 20%').hover
                a(href='#')
                    h3 Top